
@{
    Layout = null;
}
<style>
    .Context {
        width: 30%;
        margin-left: auto;
        margin-right: auto;
    }

        .Context div {
            margin-top:10px;
            margin-bottom:10px;
        }
</style>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <div class="Context">
            <h1>能源管理系统</h1>
            <div>
                <label for="LoginUser">账号</label>
                <input id="LoginUser" type="text" />
            </div>
            <div>
                <label for="LoginPassword">密码</label>
                <input id="LoginPassword" type="password" />
            </div>

        </div>
    </div>
</body>
</html>
